body{
    background: antiquewhite;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#hat{
    border: 2px solid black;
    text-align: center;
    width:250px;
    background: blueviolet;

}