body{
    background: silver;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#R{
    width: 140px;
}
#data{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 300px;
    background: gold;
}
#submit{
    position: center;
}
h3{
    text-align: center;
}


#result{
    position: absolute;
    left: 20px;
    bottom: 50px;
    border:2px solid black;
    border-radius: 25px;
    background: gold;
    overflow: auto;
    height: 300px;
    width: 550px;
    padding: 10px;

}
#time{
    position: absolute;
    left:220px;
    top:275px;
}

